body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  margin: 0 auto;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3vw;
  background-color: #e7ebec;
}

.name-and-foto {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

h1,
h2 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
  font-size: 2.3vw;
  padding: 0 2vw;
}

h2 {
  font-size: 2vw;
  overflow: hidden;
  margin: 0.7vw 0;
  padding: 0 2vw;
}

h2:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  border: solid #46719b;
  border-width: 1px 10px;
}

h2:after {
  margin-right: -100%;
}

blockquote {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.6vw;
  border-left: 3px solid #46719b;
  padding-left: 2vw;
  margin: 1vw 0vw 1vw 4vw;
}

a {
  color: black;
}

section p {
  padding: 0 1vw;
}